
presentation/figures/__pycache__/shape.cpython-39.pyc
presentation/figures/.image_01.dat
presentation/figures/.image_02.dat
presentation/figures/.image_03.dat
presentation/figures/.image_04.dat
presentation/figures/.image_05.dat
presentation/figures/.image_06.dat
presentation/figures/.image_07.dat
presentation/figures/.image_08.dat
presentation/figures/.image_09.dat
presentation/figures/.image_10.dat
presentation/figures/.image_11.dat
presentation/figures/.image_12.dat
presentation/figures/.image_13.dat
presentation/figures/.image_14.dat
presentation/figures/.image_15.dat
presentation/figures/.image_16.dat
presentation/figures/.image_17.dat
presentation/figures/.image_18.dat
presentation/figures/.image_19.dat
presentation/figures/.image_20.dat
presentation/figures/.image_21.dat
presentation/figures/.image_22.dat
presentation/figures/.image_23.dat
presentation/figures/.image_24.dat
presentation/figures/.image_25.dat
presentation/figures/.image_26.dat
presentation/figures/.image_27.dat
presentation/figures/.image_28.dat
presentation/figures/.image_29.dat
presentation/figures/.image_30.dat
presentation/figures/.image_31.dat
presentation/figures/.image_32.dat
presentation/figures/.image_33.dat
presentation/figures/.image_34.dat
presentation/figures/.image_35.dat
presentation/figures/.image_36.dat
presentation/figures/.image_37.dat
presentation/figures/.image_39.dat
